*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/

.kotlin/
testdata/*.png
testdata/ocr_*.txt
testdata/rot*
testdata/o18*
testdata/oriented*
testdata/top.png
testdata/mid.png
testdata/bottom.png
testdata/superpharm_bilu_real_pre.png

# Local OCR scratch (keep real photo + final ocr dump)
testdata/rot*.png
testdata/o*.png
testdata/top.png
testdata/mid.png
testdata/bottom.png
testdata/oriented_up.png
testdata/ocr_*.txt
testdata/*.png
!testdata/superpharm_bilu_real_pre.png
.kotlin/
